body {
    padding-top: 35px;
}

form, p, span {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

#wrapper {
    background: #EBF4FB;
    border: 1px solid #ACD8F0;
    padding: 10px;
}

#wrapper input {
	margin-bottom: 0px;
}

#chatbox {
    margin-bottom: 25px;
    padding: 10px;
    background: #fff;
    height: 270px;
    border: 1px solid #ACD8F0;
    overflow: auto;
}

#messageField {
    width: 95%;
    border: 1px solid #ACD8F0;
}

#usernameField {
	width: 95%;
}

#username-validity {
	margin-top: 10px;
	margin-bottom: -5px;
}

.check {
  background-image: url("../img/check.png");
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-repeat: no-repeat;
}

.cancel {
  background-image: url("../img/cancel.png");
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-repeat: no-repeat;
}

.table-header {
    /*background-color: #ACD8F0;*/
    background-color: #EBF4FB;
}

.offline {
    color: #777;
}