body {
    padding-top: 35px;
}

form, p, span {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}

#wrapper {
    background: #EBF4FB;
    border: 1px solid #ACD8F0;
    padding: 10px;
}

#wrapper input {
	/*margin-bottom: 0px;*/
}

#chatbox {
    margin-bottom: 25px;
    padding: 10px;
    background: #fff;
    height: 270px;
    border: 1px solid #ACD8F0;
    overflow: auto;
}

#messageField {
    width: 95%;
    border: 1px solid #ACD8F0;
}

#usernameField {
	width: 95%;
}

#username-validity {
	margin-top: 10px;
	margin-bottom: -5px;
}

.container {
	background-color: #fff;
	margin-bottom: 1em;
}

.check {
  background-image: url("../img/check.png");
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-repeat: no-repeat;
}

.cancel {
  background-image: url("../img/cancel.png");
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-repeat: no-repeat;
}

.table-header {
    background-color: #EBF4FB;
}

.table-hover tbody tr:hover > td.online {
	background-color: #d2eed2;
}

.offline {
    color: #777;
}

.table-hover tbody tr:hover > td.offline {
	background-color: #f5e5f5;
}

.add-chat {
	cursor: pointer;
}

.chat-holder {
	position: fixed;
 	bottom: 0;
	right: 1em;
}

.chatroom-container {
	position: relative; 
	border: 1px solid #ACD8F0;
	width: 14em;
	/*height: 18em;*/
	overflow-x: hidden;
	background-color: #EBF4FB;
    display: inline-block;
	/* margin: 0 0.2em; */
}

.chatroom-title-wrapper {
	 position: relative;
}

.chatroom-title {
	/*position: absolute;*/
	background-color: #EBF4FB;
	padding: 0.1em 0.1em 0em 0.4em;
	border-bottom: 1px solid #ACD8F0;
	width: inherit;
}

.chatroom-chat {
	padding: 0.4em 0.4em 0.4em 0.4em;
	background-color: #fff;
	height: 12em;
	border-bottom: 1px solid #ACD8F0;
	overflow-y: scroll;
	/*margin-top: 1.2em;*/
}

.chatRoomMessageField {
	margin-top: 0.4em;
	background-color: #fff;
	border: 1px solid #ACD8F0;
	height: 1em;
	width: 13em;
}

.chatroomMessageButton {
	width: 14em		!important;
	margin-top: -0.3em;
}

.chatroom-title > .icon-minus, .chatroom-title > .icon-plus {
	margin-right: 0.4em;
	visibility: hidden;
}

.chatroom-title > .icon-user {
	margin-left: 0.4em;
}

.footer {
	border: 1px solid #ACD8F0;
	background-color: #EBF4FB;
	padding: 0.4em 0;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 2em;
}

.dropdown-toggle {
	margin-right: 0.8em;
}