body {
    padding-top: 35px;
}

form, p, span {
    margin: 0;
    padding: 0;
}

#wrapper {
    background: #EBF4FB;
    border: 1px solid #ACD8F0;
    padding: 10px;
}

#wrapper input {
	margin-bottom: 0px;
}

#chatbox {
    margin-bottom: 25px;
    padding: 10px;
    background: #fff;
    height: 270px;
    border: 1px solid #ACD8F0;
    overflow: auto;
}

#messageField {
    width: 95%;
    border: 1px solid #ACD8F0;
}

#usernameField {
	width: 95%;
}